(templates INV1
((n_1_1 Int) (f_1_2 Int) (g_1_2 Int) (h_1_2 Int) (C_1_2 Int) (comparisoncost_1_2 Int) (minusminuscost_1_2 Int) (pluscost_1_2 Int)(n_2_2 Int) (f_2_2 Int) (g_2_2 Int) (h_2_2 Int) (C_2_2 Int) (comparisoncost_2_2 Int) (minusminuscost_2_2 Int) (pluscost_2_2 Int))
(predicate (>= n_1_1 n_2_2) 1) (predicate (<= n_1_1 n_2_2) 1) (term n_1_1 10) (term n_2_2 10)  (predicate (>= f_1_2 f_2_2) 1) (predicate (<= f_1_2 f_2_2) 1) (term f_1_2 10) (term f_2_2 10)  (predicate (>= g_1_2 g_2_2) 1) (predicate (<= g_1_2 g_2_2) 1) (term g_1_2 10) (term g_2_2 10)  (predicate (>= h_1_2 h_2_2) 1) (predicate (<= h_1_2 h_2_2) 1) (term h_1_2 10) (term h_2_2 10)  (predicate (>= C_1_2 C_2_2) 1) (predicate (<= C_1_2 C_2_2) 1) (term C_1_2 10) (term C_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10)  (predicate (>= minusminuscost_1_2 minusminuscost_2_2) 1) (predicate (<= minusminuscost_1_2 minusminuscost_2_2) 1) (term minusminuscost_1_2 10) (term minusminuscost_2_2 10)  (predicate (>= pluscost_1_2 pluscost_2_2) 1) (predicate (<= pluscost_1_2 pluscost_2_2) 1) (term pluscost_1_2 10) (term pluscost_2_2 10) 
)
