(templates INV1
((t_1_1 Int) (c_1_1 Int) (x_1_2 Int) (C_1_3 Int) (comparisoncost_1_2 Int) (pluspluscost_1_2 Int) (minuscost_1_2 Int)(t_2_1 Int) (c_2_1 Int) (x_2_2 Int) (C_2_2 Int) (comparisoncost_2_2 Int) (pluspluscost_2_2 Int) (minuscost_2_2 Int))
(predicate (>= t_1_1 t_2_1) 1) (predicate (<= t_1_1 t_2_1) 1) (term t_1_1 10) (term t_2_1 10)  (predicate (>= c_1_1 c_2_1) 1) (predicate (<= c_1_1 c_2_1) 1) (term c_1_1 10) (term c_2_1 10)  (predicate (>= x_1_2 x_2_2) 1) (predicate (<= x_1_2 x_2_2) 1) (term x_1_2 10) (term x_2_2 10)  (predicate (>= C_1_3 C_2_2) 1) (predicate (<= C_1_3 C_2_2) 1) (term C_1_3 10) (term C_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10)  (predicate (>= pluspluscost_1_2 pluspluscost_2_2) 1) (predicate (<= pluspluscost_1_2 pluspluscost_2_2) 1) (term pluspluscost_1_2 10) (term pluspluscost_2_2 10)  (predicate (>= minuscost_1_2 minuscost_2_2) 1) (predicate (<= minuscost_1_2 minuscost_2_2) 1) (term minuscost_1_2 10) (term minuscost_2_2 10) 
)
