(templates INV1
((z_1_1 Int) (i_1_2 Int) (C_1_2 Int) (pluspluscost_1_2 Int) (comparisoncost_1_2 Int)(z_2_1 Int) (i_2_2 Int) (C_2_2 Int) (pluspluscost_2_2 Int) (comparisoncost_2_2 Int))
(predicate (>= z_1_1 z_2_1) 1) (predicate (<= z_1_1 z_2_1) 1) (term z_1_1 10) (term z_2_1 10)  (predicate (>= i_1_2 i_2_2) 1) (predicate (<= i_1_2 i_2_2) 1) (term i_1_2 10) (term i_2_2 10)  (predicate (>= C_1_2 C_2_2) 1) (predicate (<= C_1_2 C_2_2) 1) (term C_1_2 10) (term C_2_2 10)  (predicate (>= pluspluscost_1_2 pluspluscost_2_2) 1) (predicate (<= pluspluscost_1_2 pluspluscost_2_2) 1) (term pluspluscost_1_2 10) (term pluspluscost_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10) 
)
