(templates INV1
((x_1_1 Int) (g_1_1 Int) (i_1_2 Int) (C_1_2 Int) (comparisoncost_1_2 Int) (pluscost_1_2 Int) (minuscost_1_2 Int)(x_2_1 Int) (g_2_1 Int) (i_2_2 Int) (C_2_2 Int) (comparisoncost_2_2 Int) (pluscost_2_2 Int) (minuscost_2_2 Int))
(predicate (>= x_1_1 x_2_1) 1) (predicate (<= x_1_1 x_2_1) 1) (term x_1_1 10) (term x_2_1 10)  (predicate (>= g_1_1 g_2_1) 1) (predicate (<= g_1_1 g_2_1) 1) (term g_1_1 10) (term g_2_1 10)  (predicate (>= i_1_2 i_2_2) 1) (predicate (<= i_1_2 i_2_2) 1) (term i_1_2 10) (term i_2_2 10)  (predicate (>= C_1_2 C_2_2) 1) (predicate (<= C_1_2 C_2_2) 1) (term C_1_2 10) (term C_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10)  (predicate (>= pluscost_1_2 pluscost_2_2) 1) (predicate (<= pluscost_1_2 pluscost_2_2) 1) (term pluscost_1_2 10) (term pluscost_2_2 10)  (predicate (>= minuscost_1_2 minuscost_2_2) 1) (predicate (<= minuscost_1_2 minuscost_2_2) 1) (term minuscost_1_2 10) (term minuscost_2_2 10) 
)
(templates INV2
((x_1_2 Int) (g_1_4 Int) (i_1_4 Int) (C_1_8 Int) (comparisoncost_1_3 Int) (pluscost_1_3 Int) (minuscost_1_3 Int)(x_2_2 Int) (g_2_3 Int) (i_2_4 Int) (C_2_6 Int) (comparisoncost_2_3 Int) (pluscost_2_3 Int) (minuscost_2_3 Int))
(predicate (>= x_1_2 x_2_2) 1) (predicate (<= x_1_2 x_2_2) 1) (term x_1_2 10) (term x_2_2 10)  (predicate (>= g_1_4 g_2_3) 1) (predicate (<= g_1_4 g_2_3) 1) (term g_1_4 10) (term g_2_3 10)  (predicate (>= i_1_4 i_2_4) 1) (predicate (<= i_1_4 i_2_4) 1) (term i_1_4 10) (term i_2_4 10)  (predicate (>= C_1_8 C_2_6) 1) (predicate (<= C_1_8 C_2_6) 1) (term C_1_8 10) (term C_2_6 10)  (predicate (>= comparisoncost_1_3 comparisoncost_2_3) 1) (predicate (<= comparisoncost_1_3 comparisoncost_2_3) 1) (term comparisoncost_1_3 10) (term comparisoncost_2_3 10)  (predicate (>= pluscost_1_3 pluscost_2_3) 1) (predicate (<= pluscost_1_3 pluscost_2_3) 1) (term pluscost_1_3 10) (term pluscost_2_3 10)  (predicate (>= minuscost_1_3 minuscost_2_3) 1) (predicate (<= minuscost_1_3 minuscost_2_3) 1) (term minuscost_1_3 10) (term minuscost_2_3 10) 
)
