(templates INV1
((n_1_2 Int) (result_1_2 Int) (C_1_3 Int) (comparisoncost_1_2 Int) (divisioncost_1_2 Int)(n_2_1 Int) (result_2_2 Int) (C_2_2 Int) (comparisoncost_2_2 Int) (divisioncost_2_2 Int))
(predicate (>= n_1_2 n_2_1) 1) (predicate (<= n_1_2 n_2_1) 1) (term n_1_2 10) (term n_2_1 10)  (predicate (>= result_1_2 result_2_2) 1) (predicate (<= result_1_2 result_2_2) 1) (term result_1_2 10) (term result_2_2 10)  (predicate (>= C_1_3 C_2_2) 1) (predicate (<= C_1_3 C_2_2) 1) (term C_1_3 10) (term C_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10)  (predicate (>= divisioncost_1_2 divisioncost_2_2) 1) (predicate (<= divisioncost_1_2 divisioncost_2_2) 1) (term divisioncost_1_2 10) (term divisioncost_2_2 10) 
)
