(templates INV1
((n_1_1 Int) (sum_1_2 Int) (C_1_2 Int) (pluscost_1_2 Int) (moduluscost_1_2 Int) (divisioncost_1_2 Int) (comparisoncost_1_2 Int)(n_2_1 Int) (sum_2_2 Int) (C_2_2 Int) (pluscost_2_2 Int) (moduluscost_2_2 Int) (divisioncost_2_2 Int) (comparisoncost_2_2 Int))
(predicate (>= n_1_1 n_2_1) 1) (predicate (<= n_1_1 n_2_1) 1) (term n_1_1 10) (term n_2_1 10)  (predicate (>= sum_1_2 sum_2_2) 1) (predicate (<= sum_1_2 sum_2_2) 1) (term sum_1_2 10) (term sum_2_2 10)  (predicate (>= C_1_2 C_2_2) 1) (predicate (<= C_1_2 C_2_2) 1) (term C_1_2 10) (term C_2_2 10)  (predicate (>= pluscost_1_2 pluscost_2_2) 1) (predicate (<= pluscost_1_2 pluscost_2_2) 1) (term pluscost_1_2 10) (term pluscost_2_2 10)  (predicate (>= moduluscost_1_2 moduluscost_2_2) 1) (predicate (<= moduluscost_1_2 moduluscost_2_2) 1) (term moduluscost_1_2 10) (term moduluscost_2_2 10)  (predicate (>= divisioncost_1_2 divisioncost_2_2) 1) (predicate (<= divisioncost_1_2 divisioncost_2_2) 1) (term divisioncost_1_2 10) (term divisioncost_2_2 10)  (predicate (>= comparisoncost_1_2 comparisoncost_2_2) 1) (predicate (<= comparisoncost_1_2 comparisoncost_2_2) 1) (term comparisoncost_1_2 10) (term comparisoncost_2_2 10) 
)
